.card-header= currency_pair
.card-body
  .card-text.display-1= rate
.card-footer
  %small.text-muted= t('welcome.index.last_updated_ago', updated_at: updated_at)
  %br
  %small.text-muted= t('welcome.index.state', state: state)
